<div class="form-group">
    <label for="<%= querySelectKey %>" class="control-label" style="width: 78px"><%= querySelectValue %></label>
    <select class="form-control chosen-select m-l-xs" id="<%= querySelectKey %>"  name="<%= querySelectKey %>" style="width:120px;">
        <%- queryOptionsHTML %>
    </select>
</div>