<div class="form-group">
    <label for="<%= queryKey %>" class="col-sm-3 control-label"><%= queryValue %>：</label>
    <div class="col-sm-9">
        <textarea type="text" dataType="<%= validType %>" name="<%= queryKey %>" id="<%= queryKey %>" class="form-control"></textarea>
        <div class="error-info wgt-validform-checktip check-info wgt-validform-wrong error-padding" id="<%= queryKey %>-error"></div>
    </div>
</div>