<div class="form-group" id="<%= queryKey %>">
    <label class="col-sm-3 control-label"><%= queryValue %>：</label>
    <select class="form-control formWidthAuto" dataType="<%= validType %>" name="<%= queryKey %>" id="<%= queryKey %>">
        <%- optionsHtml %>
    </select>
</div>